.about-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .about-columns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
 .soft-skills-card, .skills-card {
  border-radius: 2rem;
  padding: 2.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06); 
  bor
  border-color:#DD489B;
  padding: 1.5rem;
  }

  .profile-card {
    border-radius: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06); 
    border-width:2px;
    border-style:dashed;
    border-color: #4c1d95;
    margin-bottom: 1rem;
  }
  .avatar-wrapper {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    margin: 0 auto 0 auto;  
  }
  .avatar{
    border-radius: 2rem;
    margin-bottom: 15px;    
    padding-top: 0; 
    padding-bottom: 10px;

  }
  .avatar-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }




  
  .email {
    margin-top: 0rem;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #4c1d95;
    font-size:1rem;
  }
  .social-icons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
  .social-icons img {
    width: 20px;
    height: 20px;
  }
  .social-icons img:hover {
    filter: grayscale(100%) brightness(150%);
  }
  .profile-bio {
    padding: 1rem;
  }
  .profile-bio .name {
    font-size: 1rem;
    color: #4c1d95;
    font-family: 'Kanit', sans-serif;
  }
  .section-title-soft {
    font-size: 1.125rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: 'Kanit', sans-serif;
    margin-top: 1rem;

  }
  .section-title {
    font-size: 1.125rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: 'Kanit', sans-serif;

  }
  
  
  .gradient-text {
    background: linear-gradient(to right, #DD489B, #9067D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .tag {
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    font-size: 0.8rem;
    font-family: 'Kanit', sans-serif;
  }
  
  .tag.pink {
    background-color: #fbcfe8;
    color: #4c1d95;;

  }
  
  .tag.purple {
    background-color: #e9d5ff;
    color: #4c1d95;;

  }
  .tag.soft {
    background-color: #e5dfee;
    color: #4c1d95;;

  }

  .certificate{
    width: 80%;
    margin: 0 auto; 

  }

  
  

  
  @media (min-width: 768px) {
    .about-columns {
    }
    .profile-column, .skills-column {
      width: 100%;
    }
  
    
  }
  
  @media (max-width: 767px) {
    .avatar-wrapper {
      width: 8rem;
      height: 15rem;
    }
    .profile-bio .name {
      font-size: 0.75rem;
      color: #4c1d95;
      font-family: 'Kanit', sans-serif;
  
    }
    .tag {
      padding: 0.5rem 1rem;
      border-radius: 9999px;
      font-size: 0.75rem;
      font-family: 'Kanit', sans-serif;
    }
    .email {
      margin-top: 0rem;
      text-align: center;
      font-family: 'Kanit', sans-serif;
      color: #4c1d95;
      font-size:0.75rem;
  
    }
    .section-title {
      font-size: 1rem;
      font-family: 'Kanit', sans-serif;
    }
    .section-title-soft {
      font-size: 1rem;
      font-family: 'Kanit', sans-serif;
    }
    .social-icons {
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
    .social-icons img {
      width: 16px;
      height: 16px;
    }
    
  }

  .breadcrumb {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #4B5563; 
  display: flex;
  align-items: center;
}

.breadcrumb-link {
  color: #4B5563;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;

}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin: 0 0.5rem;
}

.breadcrumb-current {
  font-weight: bold;
  color: #4c1d95; 
  font-family: 'Kanit', sans-serif;

}