.projects-section {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #ffffff;
  width: 100%;
}

.projects-container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.final-project-card {
  background: linear-gradient(to right, #FFFFFF, #E1D0F9);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

 .minicard{
    background: linear-gradient(to right, #ffffff, #ffffff);
    border-radius: 2rem;
    padding: 2.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
      border: 1px solid #eee7f9; /* สีม่วงเข้ม ชัดๆ */

  }



.final-project-text {
  width: 100%;
}










