.projects-section {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;


  }
  
  .projects-container {
    max-width: 80rem; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

  }
  
  .project-link {
    display: block;
    transition: transform 0.3s;
  }
  
  .project-link:hover {
    transform: translateY(-0.5rem);
  }
  
  .final-project-card {
    background: linear-gradient(to bottom, #ffffff, #e6cdf5);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  }
  .minicard{
    background: linear-gradient(to right, #ffffff, #ffffff);
    border-radius: 2rem;
    padding: 2.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  }
  
  .final-project-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }
  
  .final-project-text {
    width: 80%;
  }
 

  .final-project-image {
    width: 100%;
    height: auto;
  }
  
  .final-project-title {
    font-size: 2.125rem;
    margin-bottom: 1.5rem;
    font-family: 'Kanit', sans-serif;

  }
  .gradient-text {
    background: linear-gradient(to right, #DD489B, #9067D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .final-project-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .icon-wrapper {
    width: 3rem;
    height: 3rem;
  }
  
  .icon-image {
    width: 100%;
    border-radius: 0.5rem;
  }
  
  .project-screenshot {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .mini-projects-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  @media (max-width: 767px) {
    .projects-section {
      padding: 2rem 1rem;
    }
    
    .final-project-card {
      padding: 2rem;
      border-radius: 1.5rem;
    }
    
    .final-project-content {
      flex-direction: column; 
    }
    
    .final-project-text{
      width: 100%;
    }
    .final-project-image {
      width: 100%;
    }
    
    .final-project-title {
      font-size: 1.5rem;
    }
    
    .icon-wrapper {
      width: 2rem;
      height: 2rem;
 
    }
    
    .project-screenshot {
      margin-top: 1rem;
    }
    
    .mini-projects-grid {
      gap: 1.5rem;
    }
  }
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  height: 300px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slider-image {
  min-width: 100%;
  height: 100%;
  object-fit: contain; 
}


  